.map-container {
    position: relative;
    top:10vh;
    left:10vw;
    width: calc(
      90vw - 10vw
    ); 
    height: calc(
      90vh - 10vh
    );  
}
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }